.profilepage {
  display: flex;
  flex-direction: column;
}

.profileSection {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--secondary);
  color: var(--primary);
  padding: 20px;
}

.profileSection h1 {
  color: var(--accent);
}

.imageSection {
  height: 300px;
  width: 300px;
  border-radius: 150px;
  margin: 0px 20px;
}

.imageSection img {
  height: 100%;
  width: 100%;
  border-radius: 150px;
}

.editprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
}

.editprofileSection {
  background-color: var(--primary);
  width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--accent);
  border-radius: 20px;
}

.editform {
  width: 460px;
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.profilesectionheading {
  margin: 20px;
  border-bottom: 5px solid var(--accent);
}

.talentSection {
  display: flex;
  flex-wrap: wrap;
}

.talent {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.talentimage {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.talentimage:hover {
  animation: scaleup 0.3s;
  transform: scale(1.1);
}

.talentimage img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.profilefunctionality {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
}

.videoSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
