.explorepage {
  background-color: var(--primary);
}

.heading {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.heading h2 {
  width: 600px;
}

.explorepagecontent {
  display: flex;
}

.sidebar {
  width: 700px;
  background-color: var(--secondary);
  color: var(--primary);
  padding: 20px;
  min-height: 80vh;
}

.categoryheading {
  color: var(--accent);
}

.category {
  padding: 5px 0px;
}

.category:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.videocontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
