.loginpage {
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainheading {
  font-size: 33px;
  max-width: 720px;
  text-transform: capitalize;
  text-align: center;
  padding: 20px 5px;
  box-shadow: var(--accent) 0px 3px 0px;
}

.ctaSection {
  margin: 100px 0px 0px 0px;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  width: 500px;
  text-align: center;
}

.ctaSection button {
  border: none;
  background: none;
  color: var(--primary);
  background-color: var(--accent);
  font-style: italic;
}

.ctaSection button:hover {
  animation: scaleup 0.3s;
  transform: scale(1.1);
}

.steps {
  text-align: left;
  padding: 20px 50px;
}

.networkContainer {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.networkContainer img {
  height: 50px;
}

.imageContainer {
  margin-top: 20px;
  padding: 20px 10px;
  height: 400px;
  width: 800px;
}
.imageContainer img {
  height: 100%;
  width: 100%;
  border-radius: 9px;
}
