.khelvideocontainer {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  width: 420px;
}

.khelvideoinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ratinginfo {
  text-align: right;
}

.ratingstars:hover {
  animation: scaleup 0.3s;
  transform: scale(1.1);
}

.ratingstars img {
  height: 20px;
  width: 20px;
  margin: 0px;
}

.videotitlecontainer {
  display: grid;
  grid-template-columns: 2fr 1fr;

  align-items: center;
}

.viewscontainer {
  display: flex;
  align-items: center;
  justify-content: right;
}

.viewscontainer img {
  height: 20px;
  width: 20px;
  margin: 0px 0px 0px 10px;
  padding: 0px;

  justify-content: center;
}
